body{
	margin: 0px;
	background-color: rgb(255,255,204);
	font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
}

/*头部CSS*/
.Head{
	z-index: 100;
	position: fixed;
	top: 0px;
	background-color: rgba(255,204,204,0.9);
	width: 100%;
	transition: all ease 0.3s;
}
.Head_logo{/*logo通用css*/
	cursor: pointer;
}
#firHead{
	height: 100px;
	opacity: 1;/*滚动条于初始状态是显示，滚动后显示，firHead隐藏*/
}
#firHead .Head_logo{
	position: absolute;
	top: 8px;
	left: 5%;
	width: 233px;
	height: 83px;
	background-image: url(../img/logo.png);
	background-size: cover;
	opacity: 1;
	transition: all linear 0.2s;
}
#firHead .Head_logo:hover{
	opacity: 0.7;
}

#secHead{
	height: 50px;
	opacity: 0;/*滚动条于初始状态是隐藏，滚动后显示，firHead隐藏*/
}

/*体部CSS*/
.body{
	position: relative;
	height: 800px;
	width: 100%;
	margin: 100px 0px 0px 0px;
}
/*底部CSS*/
.bottom{
	position: relative;
	width: 100%;
	text-align: center;
}
